extends layout

block content
    h1= title
    p OK to delete League #{leaguename} with ID #{leagueid}?
    form#formDeleleLeague(name="deleteleague", method="post", action="/leagues/#{leagueid}?_method=DELETE")
        button#btnSubmit(type="submit") Delete
    
    button(onclick="cancelDelete()") Cancel
    script.
        function cancelDelete() {
            window.location.href = '/leagues/#{leagueid}'
        }